.main-container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-container-login .input-cont-login {
    margin-bottom: 20px;
    width: 80%;
}